.saved-news__header-container{
padding-top: 114px;
width: 100%;
}
.saved-news__header-title{
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: rgba(26, 27, 34, 0.5);
}
.saved-news__news-count{
font-family: 'Roboto Slab';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;
color: #1A1B22;
max-width: 530px;
}
.saved-news__key-words{
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #1A1B22;
}